body {
    font-family: 'roboto';
    font-weight: 400;
    background: #100f0f;
    color: #efefef;
    font-size: 1.2em;
}

.main-container {
    margin: 10px 10px;
}

.main-header {
    padding: 20px ;
}

.main-header h1 {
    font-size: 1.4em;
    font-weight: 700;
}

.nav {
    margin-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #5e5e5e;
}

.nav-link {
    display: inline;
    float: right;
    color: #efefef;
    padding-right: 20px;
}

.content {
    max-width:75%;
    margin: auto;
}

.profit
{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 90px 20px;
}

.profit a {
    text-decoration: none;
    color: #efefef;
}

.change {
    text-align: right;
}

.item {
    margin-bottom: 25px;
}

.icon {
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

#chart {
    width: 600px;
    height: 400px;
    text-align: center;
}

input[type=submit] {
    width: 50%;
    background-color: darkgrey;
    color:#100f0f;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.chart {
    background-color: #100f0f;
}