alembic
bokeh
datetime
flask-sqlalchemy
flask-testing
flask-wtf
folium
gunicorn
jinja3
jupyter
openpyxl
pip-chill
pysocks
pytest-flask
pytest-pudb
python-coinmarketcap
requests-cache
seaborn
selenium
sqlite-orm
streamlit
virtualenv
