{% extends "base.html" %}

{% block body %}

<div class="main-container">
    <header class="main-header">
        <a class="close" href="./"><i class="fa-solid fa-close fa-xl"></i></a>
        <div class="topbar">
            <h2>Ajouter une transaction</h2>
        </div>
    </header>

    <div id="toast">
        {{ message }}
    </div>

    <div class="content">

        <div class="form">
            <form method="POST">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                <br/>
                {{ form.quantity.label(class="form-label") }}
                {{ form.quantity(class="form-control") }}
                <br/>
                {{ form.cost.label(class="form-label") }}
                {{ form.cost(class="form-control") }}
                <br/>
                {{ form.submit(class="form-submit") }}
            </form>
        </div>      
    </div>
</div>

{% endblock %}