    <!-- {% if cryptocurrencies %} {# on verifie si la liste existe #}
        <ul id="list">
            {% for item in cryptocurrencies %} <!-- on boucle dans la liste cryptocurencies
                {% if item.cryptocurrency ==  "Bitcoin" %} <!-- condition, on affiche seulement si la crypto est bitcoin
                    <li>Crypto actif : {{ item.cryptocurrency }} || Valeur : {{ item.value }}</li>
                {% endif %}
        </ul>
            {% endfor %}
    {% else %}
        Aucune donnée à afficher
    {% endif %} -->

{% extends "base.html" %}
{% block body %}
<div class="nav">
    <h1>{{ title }}</h1>
</div>

<div class="content">

    <div class="profit">
    <a href=""></a>
    </div>

    {% for post in db %}
    <div class="index">
        <img src="" alt="">
        <span></span>
        <div>Évolution %</div>
    </div>
{% endfor %}

</div>

{% endblock %}