    <!-- {% if cryptocurrencies %} {# on verifie si la liste existe #}
        <ul id="list">
            {% for item in cryptocurrencies %} <!-- on boucle dans la liste cryptocurencies
                {% if item.cryptocurrency ==  "Bitcoin" %} <!-- condition, on affiche seulement si la crypto est bitcoin
                    <li>Crypto actif : {{ item.cryptocurrency }} || Valeur : {{ item.value }}</li>
                {% endif %}
        </ul>
            {% endfor %}
    {% else %}
        Aucune donnée à afficher
    {% endif %} -->

{% extends "base.html" %}
{% block body %}

<div class="main-container">
    <header class="main-header">
        <div class="nav">
        <h1>Crypto Tracker</h1>
            <a class="nav-link" href="/ajouter"><i class="fa-solid fa-plus"></i></a>
            <a class="nav-link" href="/supprimer"><i class="fa-solid fa-pen"></i></a>
        </div>
    </header>
    
    <div class="content">
        <section class="profit">
            {{ profit }} €
        </section>

        <section class="coins-index">
            <div class="item">
                <img class="icon" src="https://s2.coinmarketcap.com/static/img/coins/32x32/1.png" alt="Bitcoin">
                <span>BTC (Bitcoin) </span> <span class="change">{{ btc }} %</span>
            </div>
            <div class="item">
                <img class="icon" src="https://s2.coinmarketcap.com/static/img/coins/32x32/1027.png" alt="Ethereum">
                <span>ETH (Ethereum) </span> <span class="change">{{ eth }} %</span>
            </div>
            <div class="item">
                <img class="icon" src="https://s2.coinmarketcap.com/static/img/coins/32x32/52.png" alt="XRP">
                <span>XRP (Ripple) </span> <span class="change">{{ xrp }} %</span>
            </div>
        </section>

    </div>
</div>
{% endblock %}