<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/style.css") }}'>
    <!--- <script src='main.js'></script> -->
    <title>CryptoApp</title>
</head>
<body>
    <h1>{{ title }}</h1> 
    {% if hello %}
    <p>{{ message }}</p>
    {% else %}
    <p> Aucun message</p> 
    {% endif %}

    {% if cryptocurrencies %} {# on verifie si la liste existe #}
        <ul id="list">
            {% for item in cryptocurrencies %} <!-- on boucle dans la liste cryptocurencies -->
                {% if item.cryptocurrency ==  "Bitcoin" %} <!-- condition, on affiche seulement si la crypto est bitcoin -->
                    <li>Crypto actif : {{ item.cryptocurrency }} || Valeur : {{ item.value }}</li>
                {% endif %}
        </ul>
            {% endfor %}
    {% else %}
        Aucune donnée à afficher
    {% endif %}

</body>
</html>